@import "../styles/variables";

.filters {
  display: flex;

  &-button {
    flex: 1;
    padding: 4px 0px;
    background-color: transparent;
    color: $black-300;

    &--active {
      color: $orange-700;
    }
    &--selected {
      background-color: $orange-200;
    }
  }
}
