.input {
  display: flex;

  &-textarea {
    flex: 1;
    resize: none;
    border: #ffe8d6;
    padding: 12px;
  }
}

.btn-submit {
  background-color: #ff971d;
  color: #f9f6f7;
  border: transparent;
}
