@import "../styles/variables";

.input {
  display: flex;
  transition: border 0.2s;

  &-textarea {
    flex: 1;
    resize: none;
    border: 1px solid $orange-200;
    padding: 12px;

    &--warning {
      border: 1px solid $warn;
    }
  }
}

.btn-submit {
  background-color: $orange-700;
  color: $orange-100;
  border: transparent;
  transition: background 0.2s;

  &--warning {
    cursor: not-allowed;
    background-color: $black-300;
  }
}
