@import "../styles/variables";

.input {
  display: flex;

  &-textarea {
    flex: 1;
    resize: none;
    border: $orange-200;
    padding: 12px;
  }
}

.btn-submit {
  background-color: $orange-700;
  color: $orange-100;
  border: transparent;
}
