@import "../styles/variables";

.item {
  display: flex;
  padding: 8px;
  transition: background 0.3s;

  &:hover {
    background-color: $orange-200;
  }
  &-contents {
    width: 100%;
    font-size: 20px;
    white-space: pre-wrap;

    &--cancel {
      text-decoration: line-through;
      color: $black-300;
    }
  }

  &-button {
    color: $orange-400;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
  }

  &-checkbox {
    display: none;

    + label {
      position: relative;
      display: inline-block;
      margin-right: 1.5em;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        border: 1px solid $orange-400;
        border-radius: 50%;
        background: $black-000;
        text-align: center;
        transition: background 200ms ease-out;
      }
    }

    &:checked {
      + label {
        &:before {
          content: "";
          background: $orange-400;
        }

        &:after {
          content: "";
          position: absolute;
          top: 2px;
          left: 6px;
          width: 5px;
          height: 10px;
          transform: rotate(45deg);
          border-bottom: 2px solid $orange-700;
          border-right: 2px solid $orange-700;
        }
      }
    }
  }
}
